.about__StyledAbout {
  max-width: 900px;
  padding: 0px 0px 100px;
}

.numbered-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  white-space: nowrap;
  counter-increment: section 1;
  font-size: clamp(22px, 3vw, 28px);
  color: white;
}

.numbered-heading::before {
  content: "0" counter(section) ".";
  margin-right: 5px;
  font-family: var(--special-font);
  font-size: 24px;
  color: var(--primary_maroon);
  text-align: right;
}

.numbered-heading::after {
  content: "";
  display: block;
  position: relative;
  top: 0px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--primary_maroon);
}

.inner_about_me {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 50px;
}

@media screen and (max-width: 768px) {
  .inner_about_me {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.about__StyledText p {
  margin-bottom: 20px;
  min-width: 350px;
  z-index: 10;
}
